<div class="myContent">
  <div class="container">
    <!--Add angular form logic here-->
    <form #updateDoctorForm="ngForm" (ngSubmit)="editDoctorDetails(doctorname.value)" >
      <h2 style="text-align:center">Update Doctor</h2>
      <h6 style="text-align:center;color:dimgrey;font-size:small">All fields are mandatory</h6>
      <table align="center">
        <tr>
          <th align="justify"> <label>Doctor Id</label> </th>
          <th class="form-group">
            <input type="text" id="doctorID" name="doctorId" [ngModel]="doctorId" #docId class="form-control qkinput ">
          </th>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr >
          <th align="justify" >
          <label>Doctor Name</label> </th>
          <th class="form-group">
            <!--Add angular form logic here-->
            <input type="text" id="docname" class="form-control qkinput" name="doctorname" [ngModel]="doctorName" #doctorname = "ngModel" ngModel required>
            <!--Add validation logic here-->
            <div *ngIf="doctorname.errors && (doctorname.touched || doctorname.dirty)" class="text-danger-validation">
              <div [hidden]="!doctorname.errors.required">
                <p>&nbsp;Name is mandatory</p>
              </div>
            </div>
          </th>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr>
          <th></th>
          <th>
            <div class="form-group" style="text-align:left">
              <button type="submit" [disabled]="!updateDoctorForm.form.valid" class="btn" >Update</button> &nbsp;&nbsp;
              <a routerLink="/viewDoctors">Cancel</a>
            </div>
          </th>
        </tr>
      </table>
    </form>
  </div>
</div>



<!--<div class="form-group">
         <div class="col" style="text-align:left">
           <label>Password</label>
         </div>
         <div class="col; input-group">
           <input type="text" id="docname" class="form-control qkinput" name="doctorname" #doctorname ngModel required>
         </div>
         <div style="text-align:left; padding-top:5px; color:red;">
           <div [hidden]="doctorName.touched && doctorName.dirty">
             <p>&nbsp;Name is mandatory</p>
           </div>
         </div>
       </div>-->
